advanced-segmentation-structure

bk-isut-dataset

=3.0.0

global-land-cover-mapping-openearthmap

crop_output

save_data_path

SegFormer-tf
SegFormer

TensorFlow-Advanced-Segmentation-Models

weights

pretrain_weights
